[user]
    name = Eduardo Malherbi
    email = emalherbi@gmail.com
[alias]
    ad = add *
    adf = add * --force
    # Displays active users in the repository in the past 6 months
    act = shortlog --numbered --summary --email --no-merges --since="6 months"
    br = branch
    brd = branch -d
    cl = clone
    ch = checkout
    chb = checkout -b
    co = commit -m
    df = diff
    rs = reset --hard HEAD
    me = merge
    ps = push
    pl = pull
    st = status -sb
    up = pull
[color]
    diff = auto
    grep = auto
    interactive = auto
    status = auto
    branch = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[core]
	excludesfile = ~/.gitignore
	autocrlf = false
[push]
    default = simple
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
    required = true
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
